#imagem {
    width: 150px;
}
#imagem img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.dia_semana {
    border: 1px solid #ccc !important;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.action {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.error {
    color: red !important;
    font-weight: bold;
    font-size: 0.75rem;
}

.img-galeria {
    width: 100%;
    max-width: 200px;
    height: 100%;
    display: block;
    padding: 5px;
    margin: 5px;
    position: relative;
}

.img-galeria img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.img-galeria button {
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    bottom: 40px;
    left: 5px;
}