<IfModule mod_rewrite.c> 
 RewriteEngine On 
 RewriteRule ^(.*)$ guiacomercial/public/$1 [L] 
</IfModule> 

<IfModule mime_module>
AddHandler application/x-httpd-ea-php74 .php .php74 .phtml
</IfModule>